@model IEnumerable<DotNetProject.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Products</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-primary">Create New</a>
</p>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                @if (!string.IsNullOrEmpty(item.ImagePath))
                {
                    <img src="@item.ImagePath" class="card-img-top" alt="@item.Title">
                }
                else
                {
                    <img src="~/images/default-image.png" class="card-img-top" alt="Default Image">
                }
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">@item.Description</p>
                    <p class="card-text"><strong>Price:</strong> $@item.Price</p>
                    <p class="card-text"><strong>Quantity:</strong> @item.Quantity</p>
                    <p class="card-text"><strong>Category:</strong> @item.Category.Name</p>
                    <a asp-action="Edit" asp-route-id="@item.ProductId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ProductId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ProductId" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
